@import './src/sass/variables'
@import './src/sass/mixins'

:root,
[data-theme	='default']
	--color-main: 234
	@include defineColorHSL( --color-primary, $primary-hue, $primary-saturation, $primary-lightness)
	@include defineColorHSL( --color-second, $second-hue, $second-saturation, $second-lightness)
	@include defineColorHSL( --color-dark,	$dark-hue, $dark-saturation, $dark-lightness)
	@include defineColorHSL( --color-light, $light-hue, $light-saturation, $light-lightness)

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0
	white-space: nowrap
	clip-path: inset(100%)
	clip: rect(0 0 0 0)
	overflow: hidden

body
	font-family: 'Montserrat', sans-serif
	background-size: cover
	color: #f3f3f3
	@include scrollBar

a,
button
	cursor: pointer

a
	text-decoration: none
	color: #f3f3f3

button
	display: block
	padding: 0
	color: #f3f3f3
	background: none
	border: none

img
	display: block
	width: 100%
	height: auto
	object-fit: cover

input
	box-sizing: border-box

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
	@include placeholdersFont
input::-moz-placeholder,
textarea::-moz-placeholder
	@include placeholdersFont
input:-moz-placeholder,
textarea:-moz-placeholder
	@include placeholdersFont
input:-ms-input-placeholder,
textarea:-ms-input-placeholder
	@include placeholdersFont

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
	@include placeholdersFontTransparent
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder
	@include placeholdersFontTransparent
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder
	@include placeholdersFontTransparent
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder
	@include placeholdersFontTransparent

.content
	min-height: calc(100vh - 653px)
	background: #111111

.container
	max-width: toRem(1480)
	margin: 0 auto
	padding: 0 15px

.title
	position: relative
	margin-bottom: toEm(50)
	&-text
		margin-top: toRem(-45)
		@include adaptiveFont(60, 50)
		font-weight: 700
		text-align: center
	&-decor
		display: block
		//position: absolute
		//left: 0
		//right: 0
		@include adaptiveFont(100, 60)
		font-weight: 700
		letter-spacing: 10px
		text-align: center
		color: #111111
		mix-blend-mode: color-dodge
		text-shadow: 0 -1px 0 rgba(255, 255, 255, .1), 0 -1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1), -1px 0 0 rgba(255, 255, 255, .1), 1px 0 0 rgba(255, 255, 255, .1), -1px 0 0 rgba(255, 255, 255, .1), 1px 0 0 rgba(255, 255, 255, .1), -1px -1px 0 rgba(255, 255, 255, .1), 1px -1px 0 rgba(255, 255, 255, .1), -1px 1px 0 rgba(255, 255, 255, .1), 1px 1px 0 rgba(255, 255, 255, .1), -1px -1px 0 rgba(255, 255, 255, .1), 1px -1px 0 rgba(255, 255, 255, .1), -1px 1px 0 rgba(255, 255, 255, .1), 1px 1px 0 rgba(255, 255, 255, .1)

.btn
	min-width: toRem(160)
	padding: toEm(16) toEm(10)
	font-size: toRem(20)
	border-radius: toEm(35)
	&-solid
		background: #ef1b03
	&-transparent
		background: transparent
		border: 1px solid #f5b44f

.show
	display: block

.block
	padding: toEm(120) 0
	&-top
		height: 80vh
		padding-top: toRem(190)
		background: url('../assets/images/bg.jpg') no-repeat center center
		background-size: cover


@media screen and (max-width: 768px)
	.block-top
		padding-top: toRem(110)


@media screen and (max-width: 575px)
	.block-top
		@include flexCenter
		padding-top: 0


.cart
	height: unset
	padding-top: toRem(100)
	padding-bottom: toRem(60)
	&-btn
		&--clear
			@include flexCenter
			margin-bottom: toRem(40)
			margin-right: 0
			margin-left: auto
			opacity: .5
			transition: all .5s ease-in-out
			&:hover
				opacity: .9
			& svg
				margin-right: toRem(5)
	&-list
		padding-left: toRem(40)
		padding-bottom: toRem(50)
	&-total
		@include flexCenter
		justify-content: flex-end
		position: relative
		padding-top: toRem(25)
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			width: 100%
			height: 1px
			margin: toRem(10) 0
			background: #f5b44f
		&__item
			font-size: toRem(20)
			& span
				display: inline-block
				margin-left: toRem(5)
				font-weight: 700
			&:not(:last-of-type)
				margin-right: toRem(20)
	&-actions
		@include flexCenter
		justify-content: space-between
		margin-top: toRem(30)
		&__btn
			& svg
				margin-right: toRem(5)
			&.btn
				&--checkout
					font-weight: 700
					text-transform: uppercase


@media screen and (max-width: 768px)
	.cart
		display: block
		padding-top: toRem(60)


@media screen and (max-width: 480px)
	.cart
		&-list
			padding-left: 0
		&-total
			flex-direction: column
			&__item
				&:not(:last-of-type)
					margin-bottom: toRem(10)
		&-actions
			flex-direction: column
			& .btn
				&--checkout
					margin-bottom: toRem(20)
					padding: toRem(16) 20%
				&--back
					order: 1
					padding: toRem(8) toRem(15)
					opacity: .45


//Error Page

.notfound
	@include flexCenter
	justify-content: center
	flex-direction: column
	padding-top: toRem(80)
	padding-bottom: toRem(80)
	height: 50vh
	&-img
		max-width: toRem(370)
